
.grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
  }
.lxgw-wenkai-tc-bold {
    font-family: "LXGW WenKai TC", system-ui;
    font-weight: 900;
    filter: hue-rotate();
    font-style: normal;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    padding: 0px 15px;
    background-color: #002e3d;

}
#imagem{
    background-size: cover;
    background-position: center;
    min-width: 200px;
    max-width: 65%;
    flex-grow: 1;
    height: 97%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 50px;
    transition: background-image .5s;
    box-shadow: 0px 0px 10px 0px black;
}
.forms{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    min-width: 200px;
    height: 100vh;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

}
.forms form{
    /* background-color: brown; */
    width: 100%;
    max-width: 400px;
    h1{
        margin-bottom: 25px;
    }
    p{
        margin-bottom: 15px;
    }
    input{
        cursor: pointer;
        width: 100%;
        padding: 10px;
    }
    input:not(:last-child){
        margin-bottom: 15px;
    }
}
.forms form+div{
    max-width: 400px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        padding: 15px;
    }
}
.forms form+div+div{
    img{
        height: 2em;
        vertical-align: middle;
        margin-right: 10px;
    }
    text-align: center;
    max-width: 400px;
    width: 100%;

}
.forms>div{
    background-color: white;
    padding: 30px;
    border-radius: 15px;
}
.forms form+div+div{
    div{
        margin-bottom: 15px;
        border: 1px solid #7b98be;
        padding: 5px;

        transition: backdrop-filter 0.5s;
        
    }
    a{
        color: black;
        text-decoration: none;
    }
    div:hover{
        backdrop-filter: brightness(0.5);
    }
}
.forms form+div+div+div{
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.forms>h1{
    color: white;
    font-size: 3em;
    transform: translateY(-30px);
    
}
/* .forms h1, .forms p{
    margin-bottom: 15px;
} */
.line{
    height: 1px;
    width: 100%;
    background-color: black;
}
input[type='submit']{
    background-color: black;
    color: white;
    transition: all 0.5s;
}
input[type='submit']:hover{
    background-color: #00bfff;
    color: black;
}
#imagem h1{
    margin-bottom: 50px;
    max-width: 75%;
    font-size: 3em;
    text-indent: 5em;
    text-align: justify;
}
#imagem p{
    font-size: 1.75em;
}
#imagem>div{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        margin-left: 15px;
        font-size: 3em;
        font-weight: 900;
        cursor: pointer;
        transition: all .5s;
    }
    span:hover{
        font-size: 3.5em;
    }
}
@media (max-width:1320px){
    #imagem{
        max-width: 100%;

    }
}
@media (max-width:600px){
    #imagem{
        font-size: 0.75em;
    }
    
}
@media (max-width:400px){
    #imagem{
        font-size: 0.5em;
    }
    
}