@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Roboto Condensed';
}
h1{
    font-family: 'Anton';
    text-align: center;
}
.versiculo{
    
    text-indent: 1em;
}
.jesus{
    text-indent: 1em;
    color: red;
}
sup{
    
    color: black;
    font-weight: bold;
}