:root{
    --color1: #FFC000;
    --color2: #CC9500;
    --color3: #13E000;
    --color4: #208b2f;
    --color5: #204905;
    --menu_h_height: 3.75rem;
}

.gwendolyn-bold {
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    font-style: normal;
}
.lxgw-wenkai-tc-bold {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 700;
    font-style: normal;
}
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu a{
    text-decoration: none;
    color: unset;
}
.menu li{
    flex-shrink: 2;
    list-style: none;
}
.menu_h{
    overflow: auto;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25em;
    color: var(--color5);
    height: var(--menu_h_height);
    background-color: var(--color1);
}
.menu_h::-webkit-scrollbar{
    display: none;
}
.menu_h li{
    height: inherit;
}
.menu_h li>a{
    padding: 1.875rem;
    height: inherit;
    transition: .3s;
}
.menu_h li>a:hover{
    background-color: var(--color2);
    font-size: 1.2em;
}
li.titulo{
    font-size: 1.25em;
    padding: .9375rem;
    margin-right: auto;
}
nav.menu{
    position: fixed;
    top: 0;
    width: 100vw;
}
div.principal{
    flex-direction: column;
    justify-content: unset;
    position: fixed;
    overflow: auto;
    overflow-x: hidden;
    height: calc(100vh - var(--menu_h_height));
    width: 100%;
    top: var(--menu_h_height);
    scroll-behavior: smooth;
}
section.titulo{
    text-align: center;
    font-size: 2em;
    background-image: url(./caju.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    padding: 9.375rem 0;
    flex-direction: column;
    color: white;
    box-shadow: 0 0 .9375rem black;
    *{
        max-width: 90%;
    }
    img{
        width: 37.5rem;
        max-width: 90%;
    }
}

main section:not(.titulo){
    padding: 3.125rem;
}
main li{
    list-style: none;
}
section h1{
    text-align: center;
    font-size: 2.5em;
    padding: .625rem;
    background-color: var(--color1);
}
section h1~*, section h1{
    border: .25rem dashed var(--color1);
}
section h1~*{
    padding: 1.25rem 2.5rem;
    font-size: 1.5em;
    text-align: justify;
    border-top: none;
    background-color: #fff3d1;
}
section h1{
    border-bottom: none;
}
main{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(./caju_bg.png);
}
#historia p{    
    gap: 3.125rem;
    img{
        max-width: 90%;
        flex-grow: 0.25;
        border-radius: .9375rem;
        box-shadow: 0 0 .9375rem;
        width: 31.25rem;
        aspect-ratio: 16/11;
        object-fit: cover;
        object-position: top;
        background-attachment: fixed;
    }
}
#comprar > div{ 
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.875rem .9375rem;
}
.banner{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: .625rem;
    max-width: 95%;
    overflow-wrap: break-word;
    width: 18.75rem;
    height: 37.5rem;
    padding: .9375rem;
    background-image: linear-gradient(color-mix(in srgb, var(--color1) 50%, rgb(255, 230, 149) 10%) 50%,color-mix(in srgb, var(--color2) 100%, white 30%));
    box-shadow: 0 0 .9375rem;
    img{
        aspect-ratio: 1/1;
        object-fit: contain;
        width: 100%;
        background-color: color-mix(in srgb, var(--color1) 50%, white 50%);
        border-radius: .3125rem;
        margin-bottom: .625rem;
    }
    a{
        position: absolute;
        width: 90%;
        color: unset;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        border-radius: .625rem;
        padding: .625rem;
        background-color: var(--color3);
        transition: .5s;
        bottom: .625rem;
    }
    a:hover{
        filter: brightness(1.2);
    }
    p{
        position: absolute;
        left: 5%;
    }
}
.preco_atual{
    bottom: 3.75rem;
    font-size: 1.2em;
}
.preco_antigo{
    bottom: calc(4.125rem + 1.2em);
    font-size: 0.9em;
    text-decoration: line-through;
    color: var(--color2);
    filter: brightness(0.8);
}
.preco_antigo+.preco_atual{
    background-color: var(--color4);
    border-radius: .1875rem;
    padding: .0625rem .3125rem;
    color: white;
}
@media (max-width: 78.125rem) {
    #historia p {
        flex-wrap: wrap;
    }
}
::-webkit-scrollbar{
    background: none;
}
::-webkit-scrollbar-thumb{
    background: var(--color2);
    border: .1875rem solid var(--color1);
    border-radius: .625rem;
}
::-webkit-scrollbar-track{
    background-color: var(--color1);
}
#producao li:not(:last-child){
    margin-bottom: 3.125rem;
}
#curiosidades li{
    list-style: unset;
    list-style-position: inside;
    font-weight: 900;
    span{
        font-weight: 400;
    }
}
#curiosidades li:not(:last-child){
    margin-bottom: .9375rem;
}
#voltar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 100%;
    height: 3.125rem;
    width: 3.125rem;
    bottom: .625rem;
    right: 1.25rem;
    background-color: var(--color4);
    transition: .3s;
    color: white;
}
#voltar:hover{
    filter: brightness(1.2);
}
footer{
    box-shadow: 0 .9375rem .9375rem .9375rem;
    background-color: var(--color1);
    color: rgb(24, 48, 14);
    padding: .9375rem;
    width: 100%;
    text-align: center;
    div>*{
        margin-bottom: .625rem;
    }
    a{
        color: unset;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    div{
        font-size: 1.25em;
    }
}
@media (max-width: 43.75rem) {
    body{
        font-size: .75rem;
    }
    section h1{
        font-size: 3em;
    }
    .banner{
        font-size: 0.95em;
        height: 28.125rem;
    }
}