@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Playwrite+ES:wght@100..400&display=swap');


*{
    font-family: "Kalam", cursive;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
table{
    width: 75%;
    border-collapse: collapse;
}
td{
    width: 100px;
    text-align: center;
    padding: 5px;
    border: 3px solid black;
}
thead{
    font-size: 1rem;
    font-weight: 900;
}
thead tr td:first-child{
    border: none;
}
tbody tr td:first-child{
    text-align: left;
    width: 150px;
    font-size: 1rem;
    font-weight: 900;
    padding-left: 10px;
    img{
        vertical-align: middle;
        height: 2rem;
        margin-right: 15px;
    }
}